/* -------Font styles------- */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500&family=Work+Sans&display=swap');

body{
    font-family: 'Work Sans', sans-serif;
}

header{
    background-color: rgba(255, 144, 14, 0.1);
    width: 1920px;
    height: 1322px;
}

/* ----------nav section styles---------- */

nav {
    display: flex;
    justify-content: space-between;
    /* padding: 63px 100px; */
    padding-left: 150px;
    padding-right: 150px;
}

.nav-title {
    font-weight: 700px;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* ----------nav section end--------------- */

/* ----------header styles start----------- */

.header-section{
    text-align: center;
}
.header-title{
    font-size: 65px;
    font-weight: 700;
}
.header-description{
    color: #727272;
}
.btn-primary{
    color: white;
    background-color: #FF900E;
    padding: 18px 35px;
    border: 0;
    border-radius: 8px;
    margin-top: 32px;
}

.header-image{
    text-align: center;
    margin-top: 50px;
}

/* ------------header sytles end------------ */


